* {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}  
  
:root {
    /*These are the colors*/
     --color-primary: #EFEFEF;
     --color-secondary: #f7f7f7;
     --color-accent1: #ffc000;
     --color-accent2: #7CB242;
     --color-accent3: #FF9E9E;
     --color-accent4: #3F51B5;
  
     --color-paragraph-background: #FFDE59;
     --color-nav-link: #000000;
     --color-nav-background: #cec7a8;
     --color-nav-hover-link: #3a508a;
     --color-nav-hover-background: #efefef;
   
     /*These are the fonts*/
     --font-heading: 'Luckiest Guy', Verdana, sans-serif;
     --font-subheading: 'Finger Paint', Verdana, sans-serif;
     --font-subheading2: Poppins, Verdana, sans-serif;
     --font-paragraph: Poppins, Verdana, sans-serif;
}

#guess {
    display: none;
    justify-content: center; 
}

#guess input {
    font-size: 50px;
    border: none;
    font-family: var(--font-subheading2);
}

#onset {
    text-align: right;
}

#target {
    text-align: center;
    color: red;
}

.logo {
    margin-left: 10px;
}

.logo img{
    width: 90px;
}

#welcomeImg, #patternOptions {
    display: flex;
    justify-content: center;   
}

#patternOptions {  
    width: 70%;
    margin: 1vw auto;
}

#pattern-options {
    display: inline;
}

label {
    align-self: center;
    padding-right: 8px;
    font-family: var(--font-paragraph);
    font-size: 4.5vw;
    
}

#pattern-options {
    display: flex;
    align-self: center;
    padding: 3px;
    font-family: var(--font-paragraph);
    font-size: 50px;
}



#welcomeImg {
    margin: 10px auto;
    border-radius: 20px;
    width: 90%;
    background-color: var(--color-accent2);
    border:#3F51B5 3px solid;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#welcomeImg img{
    width: 70%;
    padding-left: 3vw;
    padding-top: 4vw;
}
#startBtn {
    display: flex;
    width: 100%;
    justify-content: center;
}
#start, #newGameBtn {
    
    margin: 10px auto;
    width: 130px;
    border: 3px solid #90bc44;
    padding: 10px;
    border-radius: 25px; 
    cursor: pointer;
    box-shadow: 10px 10px 10px #6f736f;
    font-family: var(--font-paragraph);
    
}

#targetPattern, #letterClues{
    font-family: var(--font-subheading2);
    font-size: 30px;
    text-align: center;
    color: red;
}

#message {
    font-family: var(--font-paragraph);
    font-size: 30px;
    text-align: center;
    background-color: var(--color-accent4);
    display: block;
    width: 100%;
    justify-content: center;
    color: white;
}

#roundOver {
    font-family: var(--font-paragraph);
    font-size: 15px;
    border-radius: 10px;
    padding: 0px 10px;
    margin-top: 2px;
}